* {
    margin: 0;
    padding: 0;
}

.main {
    
    background-size: 100%;
    background-image: url("fundo-sobre.jpg");
    background-repeat: no-repeat;
}

.cabecalho h2 {
     
    color: white;
    font-family: 'Neucha', cursive;
    font-size: 38pt;
    padding: 60px;
    text-shadow: 2px 2px black;
    
}

.corpo h3 {
    
    font-family: 'Alef', sans-serif;
    font-size: 18pt;
    margin-left: 50px;
    margin-top: 200px;
    
    
}

.cabecalho p#home {
    color: white;
    font-family: 'Neucha', cursive;
    font-size: 14pt;
    font-weight: bolder;
    text-align: right;
    margin-top: -180px;
    padding-right: 20px;
    text-shadow: 2px 2px black;
}

.cabecalho a#a1 {
    color: white;
    
}

.corpo label {
    
    display: inline-block;
    font-family: sans-serif;
    font-size: 14pt;
    margin-left: 50px;
    
}

.corpo textarea {
    margin-left: 5px;
}

.corpo input {
    padding: 4px;
    margin-left: 43px;
    
}

.corpo form {
    margin-top: 30px;
}

.corpo fieldset {
    border: none;
}

.corpo img {
    padding-left: 100px;
    margin-top: 80px;
}