* {
    margin: 0;
    padding: 0;
}

.main {
    
    background-size: 100%;
    background-image: url("fundo-sobre.jpg");
    background-repeat: no-repeat;
}

.cabecalho h2 {
     
    color: white;
    font-family: 'Neucha', cursive;
    font-size: 38pt;
    font-weight: bolder;
    padding: 60px;
    text-shadow: 2px 2px black;
    
}

.corpo img#img1 {
    display: flex;
    width: 15%;
    height: 200px;
    border-radius: 200px;
    margin-left: 800px;
    margin-top: 55px;
}

.corpo p {
    
    font-family: sans-serif;
    font-size: 16pt;
    padding: 10px;
    margin-top: -65px;
    text-align: justify;
    text-indent: 30px;
    
}

.cabecalho p#home {
    color: white;
    font-family: 'Neucha', cursive;
    font-size: 14pt;
    font-weight: bolder;
    text-align: right;
    margin-top: -180px;
    padding-right: 20px;
    text-shadow: 2px 2px black;
}


.corpo h3 {
    
    font-family: 'Alef', sans-serif;
    font-size: 22pt;
    padding: 20px;
    margin-top: 20px;

}

.cabecalho a#a1 {
    color: white;
    
}

.corpo li {
    
    font-family: sans-serif;
    font-size: 12pt;
    margin-left: 50px;
    padding: 5px;
    
}

.corpo img#img2 {
    padding: 20px;
    width: 12%;
}

.corpo img#img3 {
    padding: 20px;
    width: 7%;
}
