* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(5, 100px);
}

.header {
    grid-column-start: 1; 
    grid-column-end: 4;
    background: red;
}

.item1 {
    display: grid;
    grid-column-start: 1; 

    width: 80%;
    height: 140px;
    background: blue;
    border: 1px solid black;
}

.item2 {
    display: grid;
    grid-column-start: 2; 
    
    width: 80%;
    height: 140px;
    background: yellow;
    border: 1px solid black;
}

.item3 {
    display: grid;
    grid-column-start: 3; 
    width: 80%;
    height: 140px;
    background: green;
    border: 1px solid black;
}

.item4 {
    display: grid;
    grid-column-start: 1; 
    width: 80%;
    height: 140px;
    background: blue;
    border: 1px solid black;
}

.item5 {
    display: grid;
    grid-column-start: 2; 
    width: 80%;
    height: 140px;
    background: yellow;
    border: 1px solid black;
}

.item6 {
    display: grid;
    grid-column-start: 3; 
    width: 80%;
    height: 140px;
    background: green;
    border: 1px solid black;
}

.item7 {
    display: grid;
    width: 80%;
    height: 280px;
    background: black;
    border: 1px solid black;
    color: white;
}

.item8 {
    display: grid;
    width: 80%;
    height: 280px;
    background: black;   
    border: 1px solid black;
    color: white;
}

.item9 {
    display: grid;
    width: 80%;
    height: 140px;
    border: 1px solid black;
}

.item10 {
    display: grid;
    width: 80%;
    height: 140px;
    border: 1px solid black;
}

.item11 {
    display: grid;
    width: 80%;
    height: 140px;
    border: 1px solid black;
}